:root {
  --blue: #0066cc;
  --green: #68cc45;
  --red: #ff7979;
  --gray: #989898;
  --lightgray: #f5f5f5;
  --black: #3a3a3a;
  --white: #ffffff;
  --bgColor: #ffffff;
  --opacity: 0.3;
  --max-width: 1440px;
  --paddings: 125px;
  --header-height: 73px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 19px;
}

html,
button,
input {
  font-family: "SF Pro Display", sans-serif;
}

@media only screen and (max-width: 1100px) {
  :root {
    --paddings: 18px;
  }

  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 550px) {
  :root {
    --header-height: 63px;
  }

  html {
    font-size: 15px;
  }
}

/* FONTS */

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Semibold.eot");
  src: local("SF Pro Display Semibold"), local("SFProDisplay-Semibold"),
    url("/fonts/SFProDisplay-Semibold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/SFProDisplay-Semibold.woff2") format("woff2"),
    url("/fonts/SFProDisplay-Semibold.woff") format("woff"),
    url("/fonts/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Medium.eot");
  src: local("SF Pro Display Medium"), local("SFProDisplay-Medium"),
    url("/fonts/SFProDisplay-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/SFProDisplay-Medium.woff2") format("woff2"),
    url("/fonts/SFProDisplay-Medium.woff") format("woff"),
    url("/fonts/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Regular.eot");
  src: local("SF Pro Display Regular"), local("SFProDisplay-Regular"),
    url("/fonts/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("/fonts/SFProDisplay-Regular.woff") format("woff"),
    url("/fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
